

#register-overlay-person {
    width: 100vw;
    height: 100vh;
    background-color: rgba(136, 130, 130, 0.192);
    display: none;
    top: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
    align-items: center;
    justify-content: center;
}
#register-overlay-contact {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(136, 130, 130, 0.192);
    display: none;
    top: 0;
    left: 0;
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

#delete-confirm-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(136, 130, 130, 0.192);
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 9999;
}
#delete-confirm-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px;
    height: 250x;
    width: 200px;
    background-color: white;
    text-align: center;
}
.confirm-cancel-button-container{
    display: flex;
    gap: 15px;
}
.confirm-cancel-button-container input {
    display: flex;
    gap: 15px;
    width: 60px;
    height: 30px;
    text-align: center;
}



.register-container {
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.register-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.register-submit{
    width: 60px;
    height: 30px;
    
}
.register-buttons-container{
    display: flex;
    gap: 15px;
}
.register-form{
    display: flex;
    align-items: center;

}
.register-info-container{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.register-info-container input{
    height: 30px;
    font-size: 14px;
    border: 1px solid black;
    border-style: inset;
}
.register-info-container select {
    height: 30px;
    border: 1px solid black;
    border-style: inset;
}



.edit-delete{
    gap: 15px;
    display: flex;
}
.edit-delete img {
    width: 30px;
    height: 30px;
}
.edit-button{
    transition: .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edit-button:hover{
    scale: .9;
}